.social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.8rem;
  padding-bottom: 1rem;
}

#main-nav a,
#main-nav ul
 {
  /* align-items: center; */
  text-align: center;
  justify-self: center;
}

/* Header */
#main-header .container {
  grid-template-columns: 1fr;
  text-align: center;
}

/* Articles */

.articles-container {
  grid-template-columns: repeat(2, 1fr);
}

.articles-container > *:first-child,
.articles-container > *:last-child
 {
  grid-template-columns: 1fr;
  grid-column: 1;
}

/* For smaller mobile screens */
@media(max-width:600px) {
  .articles-container,
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-container > *:last-child {
    grid-column: 1;
  }
  .footer-container > *:first-child,
  .footer-container > *:nth-child(2), 
  .footer-container > *:nth-child(4) 
  {
    padding-bottom: 1rem;
    border-bottom: 1px #777 dotted;
  }
  .page-container {
    grid-template-columns: 1fr;
  }

}