:root {
  --primary-color: #173c77;
  --secondary-color: #4b968b;
  --lightGrey-color: #d3d3d3;
  --dark-color: #333;
  --max-widht: 1120px;
}

.category {
  --ai-color: #0444cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  background: var(--lightGrey-color);
  line-height: 1.4;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 1rem 0;
}

h1,
h3,
h3,
h4 {
  font-weight: bold;
}

/* Utilities */
.container {
  max-width: var(--max-widht);
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.current {
  background: var(--primary-color);
  border-radius: 2px;
}

.btn {
  background: var(--primary-color);
  padding: 1rem;
  text-align:center;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.category {
  display: inline-block;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  /* margin-left: 1rem; */
  border-radius: 10px;
}

.category-AI {background: var(--ai-color);}

/* Navigaiton */
#main-nav {
  background: #dedede;
  position: sticky;
  top: 0;
  z-index: 1;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 0 1rem; 
  align-items: center;
}
#main-nav .container img 
{
  width: 100px;
  justify-content: start;
}

.social {
  justify-self: center;
}

.social i {
  color: #777;
  margin-right: 0.6rem;
  transition:all 0.3s ease-in-out ;
}

.social i:hover {
  color: var(--primary-color);
}

#main-nav ul {
  display: flex;
  justify-self: end;
}

#main-nav ul li a {
  padding: 1rem;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#main-nav ul li a:hover {
  background: #777;
}

/* Header */

#main-header {
  color: #fff;
  background: #333;
  padding-top: 2rem;
  position: relative;
  /* padding: 2rem; */
}

#main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url('/img/header.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#main-header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#main-header .header-content {
  z-index: 1;
}

#main-header .header-content p {
  margin-bottom: 2rem;
}

/* Articles */

.articles-container {
  /* background: #fff; */
  /* padding: 0 1rem; */
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  background: #fff;
  padding: 1rem;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
}

.grid img {
  width: 30%;
}


